In [1]:
a=10
b=20

print(a+b)

30

In [2]:
num_1=80
num_2=10

print(num_1 * num_2)

800

In [5]:
_num=2

In [6]:
num=25
print(num)
print(type(num))

25
<class 'int'>

In [7]:
num_2=20.5
print(type(num_2))

<class 'float'>

In [8]:
a=10+20j
print(type(a))

<class 'complex'>

In [9]:
num_3=2.5e12
print(num_3)
print(type(num_3))

2500000000000.0
<class 'float'>

In [10]:
x=7
a=float(x)
print(x,type(x))
print(a,type(a))

7 <class 'int'>
7.0 <class 'float'>

In [12]:
y=20.8
b=int(y)
print(y,type(y))
print(b,type(b))

20.8 <class 'float'>
20 <class 'int'>

In [13]:
my_list=[10,5,"John",6.2,True]
print(my_list)
print(type(my_list))

[10, 5, 'John', 6.2, True]
<class 'list'>

In [16]:
print(my_list[2])

John

In [18]:
print(my_list[-2])

6.2

In [19]:
print(my_list[1:4])

[5, 'John', 6.2]

In [20]:
print(my_list[:3])

[10, 5, 'John']

In [22]:
print(my_list[2:])

['John', 6.2, True]

In [23]:
my_list=[10,5,"John",6.2,True,5]
print(my_list)

[10, 5, 'John', 6.2, True, 5]

In [27]:
my_list[2]="Kasun"
print(my_list)

[10, 5, 'Kasun', 6.2, True, 5]

In [30]:
my_list[2:5]=["Kate",9.4,False]
print(my_list)

[10, 5, 'Kate', 9.4, False, 5]

In [35]:
my_list.append("Dog")
print(my_list)

[10, 5, 'Kate', 9.4, False, 5, 'Dog']

In [36]:
my_list.insert(2,"Smith")
print(my_list)

[10, 5, 'Smith', 'Kate', 9.4, False, 5, 'Dog']

In [37]:
my_list_1=[10, 6,4,3,2]
my_list_2=[25,10,30]

my_list_1.extend(my_list_2)
print(my_list_1)

[10, 6, 4, 3, 2, 25, 10, 30]

In [38]:
my_list=[10,"cat",5,"apple",28]
print(my_list)
my_list.remove("cat")
print(my_list)

[10, 'cat', 5, 'apple', 28]
[10, 5, 'apple', 28]

In [40]:
my_list.pop(1)
print(my_list)

[10, 'apple', 28]

In [41]:
students=["Amal","Binu","Chamara"]
students.append("Dilani")

In [42]:
students.insert(2,"Ishan")
print(students)

['Amal', 'Binu', 'Ishan', 'Chamara', 'Dilani']

In [43]:
students.remove("Amal")
print(students)

['Binu', 'Ishan', 'Chamara', 'Dilani']

In [44]:
students.insert(0,"Farah")
print(students)

['Farah', 'Binu', 'Ishan', 'Chamara', 'Dilani']

In [45]:
print(students)

['Farah', 'Binu', 'Ishan', 'Chamara', 'Dilani']

In [47]:
my_list=[10,20,30,40]
print(len(my_list))

4

In [48]:
my_list=[10,6,22,12,9]
del my_list[2]
print(my_list)

[10, 6, 12, 9]

In [49]:
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [50]:
my_list=[25,10,12,8,4]
my_list.clear()
print(my_list)

[]

In [52]:
my_list=["banana","apple","cat","bird","Dog"]
my_list.sort()
print(my_list)

['Dog', 'apple', 'banana', 'bird', 'cat']

In [54]:
num_list=[10,8,24,12,13,11]
num_list.sort(reverse=True)
print(num_list)

[24, 13, 12, 11, 10, 8]

In [55]:
my_list_1=[10,12,9,4,3]
my_list_2=my_list_1
my_list_1[2]=22
print(my_list_1)
print(my_list_2)

[10, 12, 22, 4, 3]
[10, 12, 22, 4, 3]

In [57]:
my_list_2=my_list_1.copy()
print(my_list_1,my_list_2)
my_list_1[1]=15
print(my_list_1,my_list_2)

[10, 12, 22, 4, 3] [10, 12, 22, 4, 3]
[10, 15, 22, 4, 3] [10, 12, 22, 4, 3]

In [58]:
my_list_1.reverse()
print(my_list_1)

[3, 4, 22, 15, 10]

In [59]:
my_list_1=[10,12,9,4,3]
my_list_2=[4,6,5]
new_list=my_list_1 + my_list_2
print(new_list)

[10, 12, 9, 4, 3, 4, 6, 5]