In [1]:
def add_numbers(a,b):
    return a+ b
print(add_numbers(8,9))

17

In [2]:
def count_even_numbers(a, b, c, d):
     num_list = [a, b , c, d]
     count = 0
     for num in num_list:
            if num % 2 == 0:
             count += 1

     return count

print(count_even_numbers(1, 2, 8, 4))

3

In [3]:
def count_even_numbers(num_list):
     count = 0
     for num in num_list:
            if num % 2 == 0:
             count += 1

     return count

my_list =[1, 2, 8, 4]
print(count_even_numbers(my_list))

3

In [9]:
def find_max(list):
    max = list[0]
    for num in list:
        if num > max:
            max = num
    return max

my_list = [3,2,71,1,2,24]
print(find_max(my_list))

71

In [ ]:
def remove_duplicates(lst):
    list_1 = []
    for item in lst:
        if item not in list_1 :
           list_1 .append(item)
    return list_1 

my_list = [3, 2, 71, 1, 2, 24]
print(remove_duplicates(my_list))

[3, 2, 71, 1, 24]

In [42]:
def factorial(n):
    if n == 0 :
        return 1
    result = 1

    for i in range(1, n+1):
        result *= i
    return result

print(factorial(4))

24

In [ ]:
def add_numbers(a, b = 8):
    return a + b

print(add_numbers(9,6)) #9+6=15
print(add_numbers(9))   #9+8=17

15
17

In [ ]:
def power(num, exponent=2):
    return num ** exponent

print(power(2,5)) #32
print(power(3))   #9

32
9

In [53]:
def display_numbers(a, b):
    print("a: ",a)
    print("b: ",b)

display_numbers(b = 6, a = 4)
display_numbers(a = 8, b = 10)

#a:  4
#b:  6
#a:  8
#b:  10

a:  4
b:  6
a:  8
b:  10

In [66]:
def net_salary_calculate(base_salary ,bonus = 0, tax = 0.1):
    gross = base_salary + bonus
    net_salary = gross * (1-tax)

    return net_salary

print(net_salary_calculate(5000))
print(net_salary_calculate(5000,bonus=1000))
print(net_salary_calculate(5000,tax=0.15))
print(net_salary_calculate(base_salary=5000,tax=0.2,bonus=1000))

4500.0
5400.0
4250.0
4800.0

In [75]:
def arbitrary_positional_arguments(*args):
    print(args)
    print(type(args))

arbitrary_positional_arguments(5, 8, 9, 12)

(5, 8, 9, 12)
<class 'tuple'>

In [77]:
def multiply_all(*args):
    result = 1
    for num in args:
        result *= num
    return result

print(multiply_all(2, 3, 4, 5))

120

In [81]:
dict = {
    "name ":"John",
    "age ":28,
    "city ":"colombo"
}

for key in dict.keys():
    print(key)

for value in dict.values():
    print(value)

for key,value in dict.items():
    print("key:", key, ", value:", value)

name
age
city
John
28
colombo
key: name  , value: John
key: age  , value: 28
key: city  , value: colombo

In [84]:
def arbitrary_keyword_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

    for key,value in dict.items():
      print("key:", key, ", value:", value)

arbitrary_keyword_args(name="John", age=28, city="Colombo")

{'name': 'John', 'age': 28, 'city': 'Colombo'}
<class 'dict'>
key: name  , value: John
key: age  , value: 28
key: city  , value: colombo

In [113]:
def add_students(**kwargs):
   students = {}
   for key, value in kwargs.items():
        students[key]=value
   return students
       
def display_students(students):
    for key,value in students.items():
        print(key, ":",value)

students = add_students(ss01="amal",ss02="nimal",ss03="kamal")
display_students(students)

ss01 : amal
ss02 : nimal
ss03 : kamal

In [110]:
print(abs(-10))

10

In [111]:
print(pow(2,5))

32

In [2]:
def find_square(x):
    return x**2

my_list = [6, 5, 3, 2, 9]

square_values = map(find_square,my_list)
print(list(square_values))

[36, 25, 9, 4, 81]

In [4]:
def convert(celsius):
    faranheit = celsius * 9/5 + 32
    return faranheit

def convert_fahrenheight(celsius_list):
    fahrenheight_list = list(map(convert,celsius_list))
    return fahrenheight_list

celsius_values = [0, 20, 37, 100, -10]

print(convert_fahrenheight(celsius_values))

[32.0, 68.0, 98.6, 212.0, 14.0]

In [5]:
def even(item):
    return item % 2 == 0  

my_list = [1, 4, 3, 6, 2]

even_numbers = filter(even, my_list) 

print(list(even_numbers))

[4, 6, 2]